In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
print("Hello")

In [3]:
depression = pd.read_csv("/content/sample_data/Mental-Health-Twitter.csv")
df = depression.copy()
print("done")

done

In [4]:
df.head()

,Unnamed: 0,post_id,post_created,post_text,user_id,followers,friends,favourites,statuses,retweets,label
0,0,637894677824413696,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,1013187241,84,211,251,837,0,1
1,1,637890384576778240,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",1013187241,84,211,251,837,1,1
2,2,637749345908051968,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,1013187241,84,211,251,837,0,1
3,3,637696421077123073,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,1013187241,84,211,251,837,2,1
4,4,637696327485366272,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,1013187241,84,211,251,837,1,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20000 non-null  int64
 1   post_id       20000 non-null  int64
 2   post_created  20000 non-null  object
 3   post_text     20000 non-null  object
 4   user_id       20000 non-null  int64
 5   followers     20000 non-null  int64
 6   friends       20000 non-null  int64
 7   favourites    20000 non-null  int64
 8   statuses      20000 non-null  int64
 9   retweets      20000 non-null  int64
 10  label         20000 non-null  int64
dtypes: int64(9), object(2)
memory usage: 1.7+ MB

In [6]:
#CHECKING NAN VALUES
df.isna().any()

Unnamed: 0      False
post_id         False
post_created    False
post_text       False
user_id         False
followers       False
friends         False
favourites      False
statuses        False
retweets        False
label           False
dtype: bool

In [7]:
#Removing the 3 columns
df.drop("Unnamed: 0", axis=1, inplace=True)
df.drop("post_id", axis=1, inplace=True)
df.drop("user_id", axis=1, inplace=True)

In [8]:
df.head()

,post_created,post_text,followers,friends,favourites,statuses,retweets,label
0,Sun Aug 30 07:48:37 +0000 2015,It's just over 2 years since I was diagnosed w...,84,211,251,837,0,1
1,Sun Aug 30 07:31:33 +0000 2015,"It's Sunday, I need a break, so I'm planning t...",84,211,251,837,1,1
2,Sat Aug 29 22:11:07 +0000 2015,Awake but tired. I need to sleep but my brain ...,84,211,251,837,0,1
3,Sat Aug 29 18:40:49 +0000 2015,RT @SewHQ: #Retro bears make perfect gifts and...,84,211,251,837,2,1
4,Sat Aug 29 18:40:26 +0000 2015,It’s hard to say whether packing lists are mak...,84,211,251,837,1,1

In [ ]:
# df.corr()

In [9]:
#datetime object
df.post_created=df.post_created.apply(pd.to_datetime)

df["month"]=df.post_created.dt.month
df["year"]=df.post_created.dt.year

df.drop("post_created", axis=1, inplace=True)

In [10]:
df.head()

,post_text,followers,friends,favourites,statuses,retweets,label,month,year
0,It's just over 2 years since I was diagnosed w...,84,211,251,837,0,1,8,2015
1,"It's Sunday, I need a break, so I'm planning t...",84,211,251,837,1,1,8,2015
2,Awake but tired. I need to sleep but my brain ...,84,211,251,837,0,1,8,2015
3,RT @SewHQ: #Retro bears make perfect gifts and...,84,211,251,837,2,1,8,2015
4,It’s hard to say whether packing lists are mak...,84,211,251,837,1,1,8,2015

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
followers,20000.0,900.48395,1899.913961,0.0,177.0,476.0,1197.0,28614.0
friends,20000.0,782.42875,1834.817945,0.0,211.0,561.0,701.0,28514.0
favourites,20000.0,6398.23555,8393.072914,0.0,243.0,2752.0,8229.0,39008.0
statuses,20000.0,44394.41960,140778.519201,3.0,5129.0,13251.0,52892.0,1063601.0
retweets,20000.0,1437.92730,15119.665118,0.0,0.0,0.0,1.0,839540.0
label,20000.0,0.50000,0.500013,0.0,0.0,0.5,1.0,1.0
month,20000.0,6.71135,4.735351,1.0,1.0,8.0,12.0,12.0
year,20000.0,2015.48595,1.485434,2009.0,2015.0,2016.0,2016.0,2017.0

In [12]:
!pip install textblob
!pip install nltk 

from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob) (3.7)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob) (2022.6.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)

In [13]:
#Converting to lowercase
df["post_text"] = df["post_text"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [14]:
#Removing numerical values
df["post_text"] = df["post_text"].str.replace("\d","")

<ipython-input-14-72213b60cd0f>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["post_text"] = df["post_text"].str.replace("\d","")

In [15]:
#Removing punctations
df["post_text"] = df["post_text"].str.replace("[^\w\s]","")

<ipython-input-15-7a5d48acfdcb>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["post_text"] = df["post_text"].str.replace("[^\w\s]","")

In [16]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
sw = stopwords.words("english")
df["post_text"] = df["post_text"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [17]:
from textblob import Word
nltk.download("wordnet")
nltk.download("omw-1.4")
df["post_text"] = df["post_text"].apply(lambda x: " ".join([Word(x).lemmatize()]))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [18]:
# from nltk.tokenize import word_tokenize
# df["tokens"] = df["post_text"].apply(lambda x: TextBlob(x).words)
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [19]:
from nltk.tokenize import word_tokenize
df["tokens"] = df["post_text"].apply(lambda x: TextBlob(x).words)

In [20]:
df["frequency"] = df["post_text"].apply(lambda x: len(str(x).split(" ")))

In [21]:
df.groupby("frequency").max()
df[df["post_text"].str.contains("sos unique")]
longest_comment=df.iloc[3038,0]
print(longest_comment)

rt sos unique new york unique new york unique new york unique new york unique new york unique new york unique new york unique new york u

In [22]:
 nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [23]:
TextBlob(longest_comment).tags

[('rt', 'NN'),
 ('sos', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('unique', 'JJ'),
 ('new', 'JJ'),
 ('york', 'NN'),
 ('u', 'NN')]

In [24]:
df.head()

,post_text,followers,friends,favourites,statuses,retweets,label,month,year,tokens,frequency
0,years since diagnosed anxiety depression today...,84,211,251,837,0,1,8,2015,"[years, since, diagnosed, anxiety, depression,...",14
1,sunday need break im planning spend little tim...,84,211,251,837,1,1,8,2015,"[sunday, need, break, im, planning, spend, lit...",9
2,awake tired need sleep brain ideas,84,211,251,837,0,1,8,2015,"[awake, tired, need, sleep, brain, ideas]",6
3,rt sewhq retro bears make perfect gifts great ...,84,211,251,837,2,1,8,2015,"[rt, sewhq, retro, bears, make, perfect, gifts...",16
4,hard say whether packing lists making life eas...,84,211,251,837,1,1,8,2015,"[hard, say, whether, packing, lists, making, l...",14

In [ ]:
# !pip install textblob 
# from textblob import TextBlob

In [25]:
blob_emptyline2 = []

for i in df["post_text"]:
    blob = TextBlob(i).sentiment
    blob_emptyline2.append(blob)

In [26]:
df_blob2 = pd.DataFrame(blob_emptyline2)

In [27]:
df_blob3 = pd.concat([df.reset_index(drop=True), df_blob2], axis=1)
df_blob3.head()

,post_text,followers,friends,favourites,statuses,retweets,label,month,year,tokens,frequency,polarity,subjectivity
0,years since diagnosed anxiety depression today...,84,211,251,837,0,1,8,2015,"[years, since, diagnosed, anxiety, depression,...",14,0.100000,1.000000
1,sunday need break im planning spend little tim...,84,211,251,837,1,1,8,2015,"[sunday, need, break, im, planning, spend, lit...",9,-0.093750,0.750000
2,awake tired need sleep brain ideas,84,211,251,837,0,1,8,2015,"[awake, tired, need, sleep, brain, ideas]",6,-0.400000,0.700000
3,rt sewhq retro bears make perfect gifts great ...,84,211,251,837,2,1,8,2015,"[rt, sewhq, retro, bears, make, perfect, gifts...",16,0.900000,0.875000
4,hard say whether packing lists making life eas...,84,211,251,837,1,1,8,2015,"[hard, say, whether, packing, lists, making, l...",14,-0.045833,0.370833

In [28]:
df_blob3["Sentiment"] =  np.where(df_blob3["polarity"] >= 0 , "Positive", "Negative")

In [29]:
df_blob3.head()

,post_text,followers,friends,favourites,statuses,retweets,label,month,year,tokens,frequency,polarity,subjectivity,Sentiment
0,years since diagnosed anxiety depression today...,84,211,251,837,0,1,8,2015,"[years, since, diagnosed, anxiety, depression,...",14,0.100000,1.000000,Positive
1,sunday need break im planning spend little tim...,84,211,251,837,1,1,8,2015,"[sunday, need, break, im, planning, spend, lit...",9,-0.093750,0.750000,Negative
2,awake tired need sleep brain ideas,84,211,251,837,0,1,8,2015,"[awake, tired, need, sleep, brain, ideas]",6,-0.400000,0.700000,Negative
3,rt sewhq retro bears make perfect gifts great ...,84,211,251,837,2,1,8,2015,"[rt, sewhq, retro, bears, make, perfect, gifts...",16,0.900000,0.875000,Positive
4,hard say whether packing lists making life eas...,84,211,251,837,1,1,8,2015,"[hard, say, whether, packing, lists, making, l...",14,-0.045833,0.370833,Negative